{% extends 'base.html.twig' %}

{% block content %}
    <div class="img-muscu" id="id-img-muscu" data-char="myprogress">
        <h1 class="h1-home">MYPROGRESS</h1>
        <p class="p-home">La plateforme qui suit ta progression</p>
    </div>
    <blockquote class="blockquote">
        <div class="card-home ">
            <div class="card text-center" style="width:1143px;">
                <div class="card-body">
                    <h3 class="card-title h3-home-card">Pourquoi noté ses performances ?</h3>
                    <p class="card-text" > La progression en musculation est complexe, tant bien mentalement que physiquement.<br>
                        Est si je vous disait que vous pouvez progréssez encore plus vite ?
                        Ont ne v'as pas parler de dopage ici, je vais vous parler de noter toutes vos performances
                        en musculation. Noté ses performances vous indiqueront la charge que vous avez poussez ou tiré lors
                        de votre scéance, en effet, qui ce souvient des charges que l'on a poussé dans tel ou tel exercice
                        et ainsi pouvoir mettre un peu plus a chaques sceance ? Trés peu le peuvent.. Hors faire comme cela nous freines, car nous
                        avons tendances a nous sur-évaluer. <br>
                        <strong>
                            Donc noter vos performances vous indiqueras : <br>
                            1 - La charge poussez ou tirez a la précédante scéance. <br>
                            2 - Chargez un petit peu plus et pas excessivement. <br>
                            3 - Relir vos précédante performances vous permettron de voir si vous progressée comme vous le voudrés.
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </blockquote>
{% endblock %}
