{% extends 'base.html.twig' %}

{% block title %}Page introuvable - MY PROGRESS{% endblock %}

{% block content %}
    <div class="block-small">
        <p>La page n'est pas accessible</p>
        <a href="{{ path('home') }}"class="btn btn-info">Revenir à l'acceuil</a>
    </div>
{% endblock %}
