body {
    font-family: Calibri, serif;
}

form {
    max-width: 50%;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

form input, form select, form textarea {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    width: 80%;
}

form input[type="radio"],
form input[type="checkbox"],
form input[type="submit"] {
    width: auto;
}

button[type=submit], button[type=reset] {
    padding: 10px;
    margin-top: 15px;
}